*

!.dockerignore
!Cargo.toml
!Cargo.lock
!docker/

!harrow/
!harrow/Cargo.toml
!harrow/examples/
!harrow/examples/**
!harrow/src/
!harrow/src/**

!harrow-codec-h1/
!harrow-codec-h1/Cargo.toml
!harrow-codec-h1/src/
!harrow-codec-h1/src/**

!harrow-core/
!harrow-core/Cargo.toml
!harrow-core/src/
!harrow-core/src/**

!harrow-io/
!harrow-io/Cargo.toml
!harrow-io/src/
!harrow-io/src/**

!harrow-middleware/
!harrow-middleware/Cargo.toml
!harrow-middleware/src/
!harrow-middleware/src/**

!harrow-o11y/
!harrow-o11y/Cargo.toml
!harrow-o11y/src/
!harrow-o11y/src/**

!harrow-serde/
!harrow-serde/Cargo.toml
!harrow-serde/src/
!harrow-serde/src/**

!harrow-server/
!harrow-server/Cargo.toml
!harrow-server/src/
!harrow-server/src/**

!harrow-server-tokio/
!harrow-server-tokio/Cargo.toml
!harrow-server-tokio/src/
!harrow-server-tokio/src/**

!harrow-server-monoio/
!harrow-server-monoio/Cargo.toml
!harrow-server-monoio/src/
!harrow-server-monoio/src/**

!harrow-server-meguri/
!harrow-server-meguri/Cargo.toml
!harrow-server-meguri/src/
!harrow-server-meguri/src/**

!meguri/
!meguri/Cargo.toml
!meguri/src/
!meguri/src/**

!harrow-bench/
!harrow-bench/benches/
!harrow-bench/benches/**
!harrow-bench/Cargo.toml
!harrow-bench/src/
!harrow-bench/src/**

!ntex-compio-bench/
!ntex-compio-bench/Cargo.toml
!ntex-compio-bench/src/
!ntex-compio-bench/src/**
