*

!.dockerignore
!Cargo.toml
!Cargo.lock
!*.Dockerfile

!harrow/
!harrow/Cargo.toml
!harrow/examples/
!harrow/examples/**
!harrow/src/
!harrow/src/**

!harrow-core/
!harrow-core/Cargo.toml
!harrow-core/src/
!harrow-core/src/**

!harrow-middleware/
!harrow-middleware/Cargo.toml
!harrow-middleware/src/
!harrow-middleware/src/**

!harrow-o11y/
!harrow-o11y/Cargo.toml
!harrow-o11y/src/
!harrow-o11y/src/**

!harrow-serde/
!harrow-serde/Cargo.toml
!harrow-serde/src/
!harrow-serde/src/**

!harrow-server-tokio/
!harrow-server-tokio/Cargo.toml
!harrow-server-tokio/src/
!harrow-server-tokio/src/**

!harrow-server-monoio/
!harrow-server-monoio/Cargo.toml
!harrow-server-monoio/src/
!harrow-server-monoio/src/**

!harrow-bench/
!harrow-bench/benches/
!harrow-bench/benches/**
!harrow-bench/Cargo.toml
!harrow-bench/src/
!harrow-bench/src/**
