[defaults]
inventory = ./inventory.ini
roles_path = ./roles
interpreter_python = auto_silent
forks = 2
host_key_checking = False

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-ssh
